<app-alert (close)="closeDD($event)" [message]="error2"></app-alert>
<a #link (click)="Link(link)" download="file1.txt">Download</a><br>
<br>
<div class="flexible">
  <input id="file" (change)="ReadExcel($event)" type="file">
  <label class="btn btn-primary mr-2 ml-2" for="file">Choose excel file</label>

  <input type="text" [(ngModel)]="text">
</div>
<br>
<br>
<br>
<a #link2 (click)="Link2(link2)" download="file2.csv">Download2</a>
<table class="myborder">
  <tr>
    <th>
      col1
    </th>

    <th>
      col2
    </th>
    <th>
      col3
    </th>
  </tr>
  <tr>
    <td>1</td>
    <td>2</td>
    <td>3</td>
  </tr>
  <tr>
    <td>4</td>
    <td>5</td>
    <td>6</td>
  </tr>
</table>
<router-outlet></router-outlet>
<ul>
  <li><a routerLink="/admin/login">{{"admin" |smth:"ddddd79"}}</a></li>
  <li><a routerLink="/admin/header">admin</a></li>
  <li><a routerLink="/user/login">user</a></li>
  <li><a routerLink="/user/header">user</a></li>
</ul>
<h1>{{'HOME.TITLE' | translate }}</h1>
<button (click)="translate.use('ru')" class="ml-3 btn btn-primary mr-3">{{'BUTTON.LANG.RU' |translate}}</button>
<button (click)="translate.use('en')" class="btn btn-primary mr-3">{{'BUTTON.LANG.EN' |translate}}</button>
<input #input class="form-control mt-2 w-25 ml-3" type="text" (change)="ChangeName(input.value)">
<!-- <input  type="text" (change)='ChangeName(input)'> -->
<p>{{'HOME.WELCOME'|translate:{name:name} }}</p>
<div *ngIf="!loading">

  <h1>Create Movie</h1>
  <form #form="ngForm" (ngSubmit)="Create(form)">
    <div class="mb-3 ">
      <label for="title" class="form-label">Title</label>
      <input required minlength="5" #title="ngModel" (change)="log(title)" type="text" [(ngModel)]="model.title"
        name="title" class="form-control">
      <div class="alert alert-danger" *ngIf="title.invalid && title.touched">
        <p *ngIf="title?.errors?.['minlength']">Min 5 element</p>
        <p *ngIf="title?.errors?.['required']">Gerekli alan</p>
      </div>
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea [(ngModel)]="model.description" required #description="ngModel" name="description"
        class="form-control"></textarea>
      <div class="alert alert-danger" *ngIf="description.invalid && description.touched">Gerekli alan</div>
    </div>

    <div class="mb-3">
      <label for="imgurl" class="form-label">Imageurl</label>
      <input required #img="ngModel" [(ngModel)]=" model.img" name="img" type="text" class="form-control">
      <div class="alert alert-danger" *ngIf="img.invalid && img.touched">Gerekli alan</div>
    </div>

    <div class="mb-3">
      <label for="categoryid" class="form-label">Category</label><br>
      <select #category="ngModel" [(ngModel)]=" model.category" name="category" class="form-select" required>
        <option value="">Seciniz</option>
        <option *ngFor="let item of categories" [value]="item.id">{{item.name}}</option>
      </select>
      <div class="alert alert-danger" *ngIf="category.invalid && category.touched">Gerekli alan</div>
    </div>
    <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Create</button>


  </form>


  <h1>Create Movie</h1>
  <form [formGroup]="movieForm" (ngSubmit)="Create(form)">
    <div class="mb-3 ">
      <label for="title" class="form-label">Title</label>
      <input type="text" name="title" class="form-control" formControlName="newtitle">
      value:{{movieForm.value.newtitle}}
      <div class="alert alert-danger" *ngIf="movieForm.get('newtitle')?.invalid && movieForm.get('newtitle')?.touched">
        <p *ngIf="movieForm.get('newtitle')?.errors?.['minlength']">Min 5 element</p>
        <p *ngIf="movieForm.get('newtitle')?.errors?.['required']">Gerekli alan</p>
      </div>
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea name="description" class="form-control" formControlName="description"></textarea>

    </div>

    <div class="mb-3">
      <label for="imgurl" class="form-label">Imageurl</label>
      <input name="img" type="text" class="form-control" formControlName="img">
    </div>

    <div class="mb-3">
      <label for="categoryid" class="form-label">Category</label><br>
      <select name="category" class="form-select" formControlName="category2">
        <option value="-1">Seciniz</option>
        <option *ngFor="let item of categories" [value]="item.id">{{item.name}}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <button type="submit" (click)="clear()" class="btn btn-warning">Clear</button>


  </form>




  <h1>Create Movie</h1>
  <form [formGroup]="movieForm" (ngSubmit)="Create(form)">
    <div class="mb-3 ">
      <label for="title" class="form-label">Title</label>
      <input type="text" name="title" class="form-control" formControlName="newtitle">
      value:{{movieForm.value.newtitle}}
      <div class="alert alert-danger" *ngIf="movieForm.get('newtitle')?.invalid && movieForm.get('newtitle')?.touched">
        <p *ngIf="movieForm.get('newtitle')?.errors?.['minlength']">Min 5 element</p>
        <p *ngIf="movieForm.get('newtitle')?.errors?.['required']">Gerekli alan</p>
      </div>
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea name="description" class="form-control" formControlName="description"></textarea>

    </div>

    <div class="mb-3">
      <label for="imgurl" class="form-label">Imageurl</label>
      <input name="img" type="text" class="form-control" formControlName="img">
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
    <button type="submit" (click)="clear()" class="btn btn-warning">Clear</button>

    <div *ngIf="error" class="alert alert-danger">
      {{error}}
    </div>
  </form>

  <form #auth="ngForm" (ngSubmit)="onSubmit(auth)">
    <div class="mb-3 mt-3 ">
      <label for="email" class="form-label">Email</label>
      <input type="email" required email ngModel name="email" class="form-control">

    </div>
    <div class="mb-3 ">
      <label for="password" class="form-label">Password</label>
      <input type="password" required minlength="6" ngModel name="Password" class="form-control">

    </div>
    <button type="submit" class="btn btn-primary"
      [disabled]="auth.invalid">{{isLoginMode ? "Login":"Register"}}</button>
    <button type="button" class="btn btn-primary ml-2" (click)="Toggle()">Toggle to
      {{!isLoginMode ? "Login":"Register"}}</button>

  </form>
</div>

<div *ngIf="loading" class="spinner-border" role="status">
  <span class="sr-only">Loading...</span>
</div>
